#chart-8, #chart-6 {
  width: 100%;
  padding-top: 50%;
    text {
      fill: #fff;
      font-size: 14px;
      font-weight: bold;
    }
    line, path {
      stroke: #fff;
    }
  .chart-max-value {
    font-size: 20px;
    fill: #fff;
  }
}
#chart-9, #chart-13 {
  width: 100%;
  padding-top: 50%;
}