.auto-complete {
  &-container {
    position: relative;
  }
  &-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    display: none;
  }
  &-active {
    .auto-complete-content {
      display: block;
    }
  }
  li {
    width: 100%;
    padding: 10px;
    list-style: none;
    background: #eee;
    font-size: 14px;
    color: #333;
    transition: all .2s;
    &:hover {
      background: #e0e0e0;
      cursor: pointer;
    }
  }
}