$primary-color: #00FFD2;
$primary-color-dark: #00948E;
$orange: #FF8560;
$yellow: #FFE660;
$red: #FF1400;
$orange2: #FF7F00;
$menu-bg: #00556D;
$white: #fff;
$card-bg: rgba(0,75,83, .52);
$text-color: #5C5D5E;
$border-color: #707070;
$placeholder-color: rgba(112,112,112,.6);
$bg-color: rgba(0, 103, 114, .6);
$date-color: #5C5D5E;
$chart-color: #0699C4;
$ambienteColor: #084861;
